@import 'colors';

.card-content {
  color: $cultured;
  background-color: $gray-web;
  border: 2px solid $space-cadent;
  //------
  cursor: pointer;
}
.card-thumbnail {
  width: 100%;
  height: auto;
}
