@keyframes filter-gray {
  0% {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(50%);
  }
  75% {
    filter: grayscale(90%);
  }
  100% {
    filter: grayscale(100%);
  }
}
@keyframes filter-blur {
  0% {
    filter: blur(0);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    filter: blur(2px);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//WEBKIT
@-webkit-keyframes filter-gray {
  0% {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(50%);
  }
  75% {
    filter: grayscale(90%);
  }
  100% {
    filter: grayscale(100%);
  }
}
@-webkit-keyframes filter-blur {
  0% {
    filter: blur(0);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    filter: blur(2px);
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
