@font-face {
  font-family: 'BebasNeue';
  src: url('../assets/fonts/BebasNeue/BebasNeue-Regular.ttf');
}
//-------------------------------------------------------------------
@font-face {
  font-family: 'ComicNeue-Bold';
  src: url('../assets/fonts/ComicNeue/ComicNeue-Bold.ttf');
}
@font-face {
  font-family: 'ComicNeue-Bold-Italic';
  src: url('../assets/fonts/ComicNeue/ComicNeue-BoldItalic.ttf');
}
@font-face {
  font-family: 'ComicNeue-Italic';
  src: url('../assets/fonts/ComicNeue/ComicNeue-Italic.ttf');
}
@font-face {
  font-family: 'ComicNeue-Light';
  src: url('../assets/fonts/ComicNeue/ComicNeue-Light.ttf');
}
@font-face {
  font-family: 'ComicNeue-Light-Italic';
  src: url('../assets/fonts/ComicNeue/ComicNeue-LightItalic.ttf');
}
@font-face {
  font-family: 'ComicNeue-Regular';
  src: url('../assets/fonts/ComicNeue/ComicNeue-Regular.ttf');
}
