@import 'colors';

$ref-grid: 1500px;
$ref-columns: 5;

.list-wrapper {
  width: 100%;
  margin: auto;
}

.list-grid {
  display: grid;
  margin: auto;
  width: $ref-grid;
  grid-template-columns: repeat($ref-columns, $ref-grid / $ref-columns);
}

.list-content {
  padding: 20px;
}

@media screen and (max-width: 1550px) {
  $ref-grid: 1200px;
  $ref-columns: 5;

  .list-wrapper {
    width: 100%;
    margin: auto;
  }

  .list-grid {
    width: $ref-grid;
    grid-template-columns: repeat($ref-columns, $ref-grid / $ref-columns);
  }
}

@media screen and (max-width: 1250px) {
  $ref-grid: 1000px;
  $ref-columns: 4;

  .list-wrapper {
    width: 100%;
    margin: auto;
  }

  .list-grid {
    width: $ref-grid;
    grid-template-columns: repeat($ref-columns, $ref-grid / $ref-columns);
  }
}

@media screen and (max-width: 1050px) {
  $ref-grid: 800px;
  $ref-columns: 4;

  .list-wrapper {
    width: 100%;
    margin: auto;
  }

  .list-grid {
    width: $ref-grid;
    grid-template-columns: repeat($ref-columns, $ref-grid / $ref-columns);
  }
}

@media screen and (max-width: 850px) {
  $ref-grid: 650px;
  $ref-columns: 3;

  .list-wrapper {
    width: 100%;
    margin: auto;
  }

  .list-grid {
    width: $ref-grid;
    grid-template-columns: repeat($ref-columns, $ref-grid / $ref-columns);
  }
}

@media screen and (max-width: 700px) {
  $ref-grid: 500px;
  $ref-columns: 2;

  .list-wrapper {
    width: 100%;
    margin: auto;
  }

  .list-grid {
    width: $ref-grid;
    grid-template-columns: repeat($ref-columns, $ref-grid / $ref-columns);
  }
}

@media screen and (max-width: 550px) {
  $ref-grid: 400px;
  $ref-columns: 2;

  .list-wrapper {
    width: 100%;
    margin: auto;
  }

  .list-grid {
    width: $ref-grid;
    grid-template-columns: repeat($ref-columns, $ref-grid / $ref-columns);
  }
}

@media screen and (max-width: 450px) {
  $ref-grid: 250px;
  $ref-columns: 1;

  .list-wrapper {
    width: 100%;
    margin: auto;
  }

  .list-grid {
    width: $ref-grid;
    grid-template-columns: repeat($ref-columns, $ref-grid / $ref-columns);
  }
}
