<component-filter (searchTerm)="searchTerm($event)"></component-filter>
<div *ngIf="marvelCharacters.length" class="list-wrapper">
  <div class="list-grid">
    <div *ngFor="let char of marvelCharacters" class="list-content">
      <component-card [characterData]="char" (click)="seeMore(char.id)"></component-card>
    </div>
  </div>
  <div class="list-footer">
    <button *ngIf="showBTN" (click)="requestMarvelCharacters()" class="default-btn loadmore-btn">
      <div [ngClass]="{'loader': inRequestProcess}">{{ inRequestProcess ? '' : 'See More' }}</div>
    </button>
  </div>
</div>
