@import 'elements';

#filter-search {
  width: 100%;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn {
  font-size: 20px;
  padding: 0 10px;
}

.btn-on {
  color: $cultured;
  background-color: $apple-red;
}

.btn-off {
  color: $space-cadent;
  background-color: $cultured;
}
